body {
    background: #0e0e0e;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #F5C95B;
}

.filter-box {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;

}

.select-box, .btn {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
}

.btn {
    background: #f1c40f;
    cursor: pointer;
    font-weight: bold;
}

.table-wrapper {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th {
    background: #333;
    padding: 15px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #555;
}

.chart-container {
    width: 100%;
    height: 360px;
}
